@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// @extend %rubik-400;
// @extend %rubik-500;

// @extend %dmsans-400;
// @extend %dmsans-500;
// @extend %dmsans-700;

// @extend %poppins-700;

.header {
    padding: 44px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__link {
        @extend %rubik-500;
        color: #436372;
        border-bottom: 1px solid transparent;
        transition: all .3s;

        &:hover {
            border-bottom: 1px solid #436372;
        }
    }

    &__item+.menu__item {
        padding-left: 30px;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
    }

    &__num {
        position: absolute;
        top: 9px;
        right: 7px;
        width: 16px;
        height: 16px;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        color: #243f4d;
        background-color: #fff;
        border-radius: 50%;
    }

    &__link--first,
    &__link--last {
        justify-content: center;
        width: 50px;
        border-radius: 50%;
    }

    &__link--first {
        margin-right: 20px;
        background-color: #edf1f4;
    }

    &__link--wrap {
        justify-content: space-around;
        width: 180px;
        background-color: #fcd7b6;
        border-radius: 25px;
    }

    &__link--middle {
        padding: 0 16px;
    }

    &__link--last {
        margin-left: 20px;
        background-color: #a3bbc8;
    }
}


@import 'media';