@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// @extend %rubik-400;
// @extend %rubik-500;

// @extend %dmsans-400;
// @extend %dmsans-500;
// @extend %dmsans-700;

// @extend %poppins-700;

.header {
    padding: 44px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__link {
        @extend %rubik-500;
        color: #436372;
        border-bottom: 1px solid transparent;
        transition: all .3s;

        &:hover {
            border-bottom: 1px solid #436372;
        }
    }

    &__item+.menu__item {
        padding-left: 30px;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
    }

    &__num {
        position: absolute;
        top: 9px;
        right: 7px;
        width: 16px;
        height: 16px;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        color: #243f4d;
        background-color: #fff;
        border-radius: 50%;
    }

    &__link--first,
    &__link--last {
        justify-content: center;
        width: 50px;
        border-radius: 50%;
    }

    &__link--first {
        margin-right: 20px;
        background-color: #edf1f4;
    }

    &__link--wrap {
        justify-content: space-around;
        width: 180px;
        background-color: #fcd7b6;
        border-radius: 25px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 1px;
            height: 32px;
            background-color: #fde7d3;
        }
    }

    &__link--middle {
        padding: 0 16px;
    }

    &__link--last {
        margin-left: 20px;
        background-color: #a3bbc8;

    }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 76px 0 68px;
    border-bottom: 1px solid #dae4e9;

    &__item--address {
        width: 200px;
    }

    &__item--services {
        width: 170px;
    }

    &__item--account {
        width: 100px;
    }

    &__item--news {
        width: 270px;
    }

    &__title {
        display: block;
        line-height: 44px;
        margin-bottom: 15px;
        @extend %dmsans-700;
        font-size: 16px;
        color: #1f2044;
        text-transform: uppercase;
    }

    &__logo {
        display: block;
        margin-bottom: 22px;
    }

    &__address,
    &__phone,
    &__email,
    &__list-link,
    &__text {
        display: block;
        margin-bottom: 20px;
        @extend %rubik-400;
        font-size: 14px;
        color: #7b7b7b;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__input,
    &__btn {
        border: none;
        outline: 0;
    }

    &__input {
        width: 170px;
        padding: 11px 17px;
        background-color: #fef7f0;

        &::placeholder {
            @extend %dmsans-400;
            font-size: 14px;
            color: #234969;
        }
    }

    &__btn {
        width: 100px;
        margin-left: -4px;
        padding: 11px 0;
        @extend %dmsans-400;
        font-size: 14px;
        color: #fff;
        background-color: #a3bbc8;
        cursor: pointer;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    &__copy {
        @extend %rubik-400;
        font-size: 14px;
        color: #7b7b7b;
    }

    &__list {
        display: flex;
    }

    &__item+.footer-bottom__item {
        padding-left: 28px;
        position: relative;

        &::after {
            position: absolute;
            content: '|';
            left: 14px;
            color: #7b7b7b;
        }
    }

    &__link {
        @extend %rubik-400;
        font-size: 14px;
        color: #7b7b7b;
    }
}


@import 'media';